* {
    margin-left: 10px;
    margin-right: 10px;
}
nav {
    background-image: linear-gradient(to right, rgb(35, 35, 182),  rgb(5, 5, 48));
    color: white;
    font-weight: bold;
    padding: 15px;
}
.citySearch {
    font-weight: bold;
}
#citySearch input {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
}
.searchButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
#previousSearches {
    margin-bottom: 10px;
}